.container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--margin-mobile);
}

// Tablet
@media (min-width: 768px) {
  .container {
    padding-inline: var(--margin-tablet);
  }
}

// Desktop
@media (min-width: 1200px) {
  .container {
    padding-inline: var(--margin-desktop);
  }
}
